
{{#goods}}
	<div class="content-item">
		<div class="content-imgwrapper">
			<a href="./detailes.html?id={{id}}&classify={{classify}}"><img class="lazy content-img"" data-original="{{imgUrl}}"></a>
		</div>
		<h1><span>&yen;</span>{{price}}</h1>
	</div>
{{/goods}}
